:root {
  --theplayground-black-color: #121212;
  --theplayground-grey-color: #5A5A5A;

  --theplayground-font-primary: 'newsreader', sans-serif;
  --theplayground-font-secondary: "Libre Franklin", sans-serif;
}